[workspace]
members = [
    "consensus",
    "authority",
    "types",
    "utils",
    "node",
    "test-cluster",
    "e2e-tests",
    "p2p",
]

[workspace.package]
# This version string will be inherited by sub crates.
version = "1.0.0"

[profile.release]
# debug = 1 means line charts only, which is minimum needed for good stack traces
debug = 1
# Write debug info into a separate file.
split-debuginfo = 'packed'
strip = 'debuginfo'
# Exit process with SIGABRT when any thread panics
panic = 'abort'

# Same as release, but build binary with debug symbols (binary size will be ~ 1GB).
[profile.release-dbgsym]
inherits = "release"
split-debuginfo = 'off'
strip = 'none'

# Inherits from the release profile above.
[profile.bench]
# For convenience.
strip = 'none'

[profile.test.package.move-compiler]
# opt-level 2 for move-compiler reduces the size of some of its
# (recursive) stack frames by up to 10x, avoiding stack overflows.
opt-level = 2

[profile.simulator]
inherits = "test"
debug = true
debug-assertions = true
overflow-checks = true
# opt-level 1 gives >5x speedup for simulator tests without slowing down build times very much.
opt-level = 1

# Dependencies that should be kept in sync through the whole workspace
[workspace.dependencies]
consensus = { path = "consensus" }
types = { path = "types" }
authority = { path = "authority" }
utils = { path = "utils" }
node = { path = "node" }
test-cluster = { path = "test-cluster" }
p2p = { path = "p2p" }

msim = { git = "https://github.com/MystenLabs/mysten-sim.git", rev = "b320996d8dfb99b273fe31c0222c659332283c99", package = "msim" }
msim-macros = { git = "https://github.com/MystenLabs/mysten-sim.git", rev = "b320996d8dfb99b273fe31c0222c659332283c99", package = "msim-macros" }
tokio = { version = "1.36", features = ["full", "test-util"] }
tonic = "0.12.1"
tonic-build = "0.12.1"
tokio-stream = { version = "0.1.14", features = ["sync", "net"] }

tracing = "0.1.41"
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }
fastcrypto = { git = "https://github.com/MystenLabs/fastcrypto", rev = "5f2c63266a065996d53f98156f0412782b468597", features = [
    "copy_key",
] }
bytes = { version = "1.7.1", features = ["serde"] }
async-trait = "0.1.81"
bcs = "0.1.6"
eyre = "0.6.12"
futures = "0.3.30"
parking_lot = "0.12.3"
rand = "0.8.5"
serde = { version = "1.0.204", features = ["derive", "rc"] }
thiserror = "1.0.63"

tokio-util = "0.7.10"
ed25519 = { version = "2.2.3", features = ["pkcs8", "alloc", "zeroize"] }
itertools = "0.13.0"
anyhow = "1.0.86"
serde_repr = "0.1.19"
multiaddr = "0.18.1"
prost = "0.13.1"
tap = "1.0.1"
nonempty = "0.10.0"
arc-swap = "1.7.1"
tower = { version = "0.4.12", features = [
    "full",
    "util",
    "timeout",
    "load-shed",
    "limit",
] }
hyper = "1.4.1"
hyper-util = "0.1.6"
tokio-rustls = { version = "0.26", default-features = false, features = [
    "tls12",
    "ring",
] }
tower-http = { version = "0.5", features = [
    "cors",
    "full",
    "trace",
    "set-header",
    "propagate-header",
] }
hyper-rustls = { version = "0.27", default-features = false, features = [
    "webpki-roots",
    "http2",
    "ring",
    "tls12",
] }
cfg-if = "1.0.0"
base64 = "0.22.1"
tempfile = "3.12.0"
regex = "1.11"
chrono = "0.4"

[patch.crates-io]
tokio = { git = "https://github.com/MystenLabs/mysten-sim.git", rev = "b320996d8dfb99b273fe31c0222c659332283c99" }
