[package]
name = "consensus"
version = "0.1.0"
edition = "2021"

[dependencies]
async-trait = "0.1.81"
bcs = "0.1.6"
bytes = { version = "1.7.1", features = ["serde"] }
eyre = "0.6.12"
fastcrypto = { version = "0.1.8", features = ["copy_key"] }
futures = "0.3.30"
hyper = "1.4.1"
hyper-util = "0.1.6"
multiaddr = "0.18.1"
parking_lot = "0.12.3"
prost = "0.13.1"
rand = "0.8.5"
rustls = { version = "0.23.12", default-features = false, features = [
    "std",
    "tls12",
    "ring",
] }
serde = "1.0.204"
thiserror = "1.0.63"
tokio = { version = "1.38", features = ["full", "test-util"] }
tokio-retry = "0.3"
tokio-rustls = { version = "0.26", default-features = false, features = [
    "tls12",
    "ring",
] }
tokio-stream = { version = "0.1.14", features = ["sync", "net"] }
tokio-util = "0.7.10"
tonic = "0.12.1"
tower = { version = "0.4.12", features = [
    "full",
    "util",
    "timeout",
    "load-shed",
    "limit",
] }
tower-http = { version = "0.5", features = [
    "cors",
    "full",
    "trace",
    "set-header",
    "propagate-header",
] }
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
webpki = { version = "0.102", package = "rustls-webpki", features = [
    "alloc",
    "std",
] }
x509-parser = "0.16.0"
ed25519 = { version = "2.2.3", features = ["pkcs8", "alloc", "zeroize"] }
rcgen = "0.13.1"
axum = { version = "0.7.5", default-features = false, features = [
    "tokio",
    "http1",
    "http2",
    "json",
    "matched-path",
    "original-uri",
    "form",
    "query",
    "ws",
] }
axum-server = { git = "https://github.com/bmwill/axum-server.git", rev = "f44323e271afdd1365fd0c8b0a4c0bbdf4956cb7", version = "0.6", default-features = false, features = [
    "tls-rustls",
] }
tower-layer = "0.3.2"
reqwest = { version = "0.12", default_features = false, features = [
    "http2",
    "json",
    "rustls-tls",
] }
hyper-rustls = { version = "0.27", default-features = false, features = [
    "webpki-roots",
    "http2",
    "ring",
    "tls12",
] }
base64 = "0.22.1"
base64-url = "3"
serde_repr = "0.1.19"
itertools = "0.13.0"
tempfile = "3.12.0"
cfg-if = "1.0.0"
nom = "7.1.3"
tap = "1.0.1"

[build-dependencies]
tonic-build = "0.12.1"
