[package]
name = "rpc"
edition = "2024"
version.workspace = true
build = "build.rs"

[dependencies]
bcs.workspace = true
serde.workspace = true
bytes.workspace = true
protocol-config.workspace = true
futures.workspace = true
tonic = { version = "0.13", default-features = false, features = [
    "channel",
    "codegen",
    "prost",
    "tls-ring",
    "tls-webpki-roots",
    "zstd",
] }
prost = "0.13.5"
prost-types = "0.13.5"
types.workspace = true
tokio.workspace = true
tokio-stream.workspace = true
async-stream = "0.3.6"
url.workspace = true
axum = { workspace = true, features = ["matched-path"] }
tower.workspace = true
tracing.workspace = true
tap.workspace = true
anyhow.workspace = true
http.workspace = true
itertools.workspace = true
base64.workspace = true
rand.workspace = true
serde_json.workspace = true
bs58.workspace = true
tonic-web = "0.13.1"
serde_derive = { version = "1.0.228" }
serde_with = { version = "3.16", default-features = false, features = ["alloc"] }
rand_core = "0.6.4"
base64ct = { version = "1.8.3", features = ["alloc"] }
roaring = { version = "0.10.12", default-features = false }
blake2 = "0.10.6"
fastcrypto.workspace = true
thiserror.workspace = true

[build-dependencies]
tonic-build = "0.13"
walkdir = "2.5.0"
protox = "0.7"
prost = "0.13.5"
prost-types = "0.13.5"
heck = { version = ">=0.4, <=0.5" }
quote = "1.0.44"
proc-macro2 = "1.0.106"
syn = "2.0.114"
prettyplease = "0.2.37"
itertools.workspace = true


[lints]
workspace = true
