[project]
name = "python-probes"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.8"
dependencies = []

[build-system]
requires = ["uv_build>=0.8.22,<0.9.0"]
build-backend = "uv_build"
# [build-system]
# requires = ["hatchling"]
# build-backend = "hatchling.build"
