[package]
name = "consensus"
version = "0.1.0"
edition = "2021"

[dependencies]
types.workspace = true
tokio.workspace = true
tracing.workspace = true
utils.workspace = true
tracing-subscriber.workspace = true
fastcrypto = { workspace = true, features = ["copy_key"] }
bytes.workspace = true
async-trait.workspace = true
bcs.workspace = true
eyre.workspace = true
futures.workspace = true
parking_lot.workspace = true
rand.workspace = true
serde.workspace = true
thiserror.workspace = true
tokio-stream.workspace = true
tokio-util.workspace = true
ed25519.workspace = true
itertools.workspace = true
multiaddr.workspace = true
tonic.workspace = true
prost.workspace = true
tap.workspace = true
tower.workspace = true
hyper = "1.4.1"
hyper-util = "0.1.6"
rustls = { version = "0.23.12", default-features = false, features = [
    "std",
    "tls12",
    "ring",
] }
tokio-retry = "0.3"
tokio-rustls = { version = "0.26", default-features = false, features = [
    "tls12",
    "ring",
] }

tower-http = { version = "0.5", features = [
    "cors",
    "full",
    "trace",
    "set-header",
    "propagate-header",
] }
webpki = { version = "0.102", package = "rustls-webpki", features = [
    "alloc",
    "std",
] }
x509-parser = "0.16.0"
rcgen = "0.13.1"
axum = { version = "0.7.5", default-features = false, features = [
    "tokio",
    "http1",
    "http2",
    "json",
    "matched-path",
    "original-uri",
    "form",
    "query",
    "ws",
] }
axum-server = { git = "https://github.com/bmwill/axum-server.git", rev = "f44323e271afdd1365fd0c8b0a4c0bbdf4956cb7", version = "0.6", default-features = false, features = [
    "tls-rustls",
] }
tower-layer = "0.3.2"
reqwest = { version = "0.12", default_features = false, features = [
    "http2",
    "json",
    "rustls-tls",
] }
hyper-rustls = { version = "0.27", default-features = false, features = [
    "webpki-roots",
    "http2",
    "ring",
    "tls12",
] }
base64 = "0.22.1"
base64-url = "3"
tempfile = "3.12.0"
cfg-if = "1.0.0"
nom = "7.1.3"


[build-dependencies]
tonic-build.workspace = true
