[package]
name = "sdk"
edition = "2024"
version.workspace = true

[dependencies]
types.workspace = true
soma-keys.workspace = true
serde.workspace = true
anyhow.workspace = true
serde_with = { version = "3.16", default-features = false, features = ["alloc"] }
thiserror.workspace = true
rpc.workspace = true
bcs.workspace = true
tokio.workspace = true
tracing.workspace = true
url.workspace = true
uuid.workspace = true
futures.workspace = true
fastcrypto.workspace = true
tonic = { version = "0.13", default-features = false, features = [
    "channel",
    "codegen",
    "prost",
    "tls-ring",
    "tls-webpki-roots",
    "zstd",
] }
bytes.workspace = true

[lints]
workspace = true
