[package]
name = "sdk"
edition = "2024"
version.workspace = true

[dependencies]
types = { path = "../types", default-features = false }
soma-keys.workspace = true
serde.workspace = true
anyhow.workspace = true
serde_with = { version = "3.16", default-features = false, features = ["alloc"] }
thiserror.workspace = true
rpc = { path = "../rpc", default-features = false }
bcs.workspace = true
tokio.workspace = true
tracing.workspace = true
url.workspace = true
uuid.workspace = true
futures.workspace = true
fastcrypto.workspace = true
tonic = { version = "0.13", default-features = false, features = [
    "channel",
    "codegen",
    "prost",
    "zstd",
] }
bytes.workspace = true
rand.workspace = true

# Optional TLS deps
reqwest = { version = "0.12", default-features = false, features = ["rustls-tls", "http2"], optional = true }

[features]
default = ["tls"]
tls = ["rpc/tls", "dep:reqwest"]

[lints]
workspace = true
